body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #0c5eb0c9;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 2000;
}

img {
    height: 15%;
    width: 15%;
    padding-right: 20px ;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

#controls {
    margin-bottom: 20px;
    display: grid;
    grid-template-rows: 3;
    gap: 10px;
}

#controls label {
    display: none;
}

#controls input[type="search"] {
    grid-row: 1;
    padding: 8px;
    font-size: 16px;
    width: 450px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


 /*   padding: 8px 2px;
    font-size: 16px;
    width: 150px;
    background-color: #004080;
    color: white;
    border: none;
    border-radius: 4px;
    gap: 0;
} */

#lookup {
    background-color: #004080;
    color: white;
    grid-row: 2;
    padding: 8px 2px;
    width: 150px;
}

#lookupC {
    background-color: #0d9f45;
    color: white;
    grid-row: 3;
    padding: 8px 2px;
    width: 150px;
}

#lookup:hover {
    background-color: #0059b3;
}

#lookupC:hover {
    background-color: #11ae4d;
}

#result {
    margin-top: 20px;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: white;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #e6f0ff;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

